In [7]:
salary = 60000
print(type(salary))  # Output: <class 'int'>

Name = "Md Sakib Rana"
print(type(Name))  # Output: <class 'str'>

age = int(input("Enter your age: "))  # Fixed the input prompt
print("You are", age, "years old")
print(type(age))  # Output: <class 'int'>

fName = input('Enter first name: ')
lName = input('Enter last name: ')

fullname = fName + ' ' + lName  # Added space between first and last name
print('Hello Mr.', fullname)

<class 'int'>
<class 'str'>

Enter your age:  20

You are 20 years old
<class 'int'>

Enter first name:  Md
Enter last name:  Sakib

Hello Mr. Md  Sakib

In [9]:
#python if else branching

number=int(input('enter the integer number: '))
if number%2==0:
    print(number, 'is even')
else:
    print(number,'is odd')

enter the integer number:  20

20 is even

In [11]:
# Results System using if-else
marks= input('enter total; Marks: ')
marks=int(marks)

if marks>=80:
    print('You have got A+')
elif marks>=70 and marks<80:
    print('you have got A')
elif marks>=60 and marks<70:
    print('you have got B')
elif marks>=50 and marks<60:
    print('you have got C')
elif marks>=40 and marks<50:
    print('you have got D')
else:
    print('FAILED!!')

enter total; Marks:  55

you have got C

In [13]:
#list/Array in python

food_item=['pizza','Burger','Biriyani','pasta']
print(food_item)
print(len(food_item))

if 'Rice' in food_item:
    print('It is in Stock')
else:
    print('It is out of Stock')

['pizza', 'Burger', 'Biriyani', 'pasta']
4
It is out of Stock

In [15]:
number=[1,3,5,9,11]
print(number)

[1, 3, 5, 9, 11]

In [17]:
mixed_list=['khan','RUET Rajshahi',6500.0,25,2+3j]
print(mixed_list)
type(mixed_list)

['khan', 'RUET Rajshahi', 6500.0, 25, (2+3j)]

list

In [19]:
#python Dictionary


Country_Vs_Capitals={
    "Germany":"Berlin",
    "Canada":"Ottowa",
    "Bangladesh":"Dhaka"
}
print(Country_Vs_Capitals)
Country_Vs_Capitals["Italy"] = "Rome"
print(Country_Vs_Capitals)

{'Germany': 'Berlin', 'Canada': 'Ottowa', 'Bangladesh': 'Dhaka'}
{'Germany': 'Berlin', 'Canada': 'Ottowa', 'Bangladesh': 'Dhaka', 'Italy': 'Rome'}

In [21]:
number=[1,3,5,9,11]
print(number[1:])
print(number[:2])
type(number)

[3, 5, 9, 11]
[1, 3]

list

In [23]:
number=(1,3,5,9,11)
type(number)

tuple

In [25]:
#loop in pythone.
#for loop

for i in range (0,10,1):
    print(i, end= ' ')

0 1 2 3 4 5 6 7 8 9

In [27]:
numbers= [1,2,3,4,5,6,7,10,12]
for number in numbers:       #foreach loop
    if number%2==0:
        print(number)

2
4
6
10
12

In [29]:
numbers= [1,2,3,4,5,6,7,10,12]
for i in range (0, len(numbers),1):
    if numbers[i]%2==0:
        print(numbers[i],end= ' ')

2 4 6 10 12

In [31]:
#complex numbers
c1=2+3j
c2=3+7j

c3=c1+c2
c4=c1/c2
c5=abs(c1)
print(c3,c4,c5)

(5+10j) (0.4655172413793104-0.08620689655172416j) 3.605551275463989

In [33]:
c6=c1**2
print(c6)

(-5+12j)

In [35]:
numbers = list(range(1, 16))

odd_sum = 0
even_sum = 0

for num in numbers:
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 56
Sum of odd numbers: 64

In [37]:
X=3
Y=5
print(X+Y)
print(X-Y)
print(X*Y)
print(X/Y)
print(X**Y)
print(X//Y)

8
-2
15
0.6
243
0

In [39]:
# Loop 
n=int(input("enter num: "))
sum=0
i=1

while i<=n:
    sum=sum+i
    i=i+1
    
print(sum)

enter num:  520

135460

In [41]:
total_sum = 0  # Renamed variable from `sum` to `total_sum`

while True:
    num = input("Enter num (or type 'quit' to exit): ")
    
    if num == "quit":  # Fixed condition
        break

    try:
        num = int(num)
    except ValueError:  # Specific exception for invalid numbers
        print("Enter a valid number:")
        continue

    total_sum += num  # Adding valid numbers to the sum
    print("Current sum:", total_sum)

Enter num (or type 'quit' to exit):  quit